@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}


//         _
//  __ ___| |___ _ _ ___
// / _/ _ \ / _ \ '_(_-<
// \__\___/_\___/_| /__/

html {
  background-color: $bg-color;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code, input{
  color: $fg-color;
}

button, .btn, .btn-floating {
  color: $bg-color;
  i {
    color: $bg-color;
  }

  &.trash, &.warn {
    background-color: $re-red;
  }

  &.cancel, &.attention {
    background-color: $re-orange;
  }

  &.ok {
    background-color: $re-green;
  }
}

.side-nav,
.side-nav.fixed {
  a {
    color: $fg-color;
    height: 3rem;
  }
}

.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active {
  a {
    color: $bg-color;
    height: 3rem;
  }
}

.modal {
  background-color: $primary-color-very-dark;
  color: $primary-color-light;

  .modal-footer {
    background-color: transparent;
  }
}

//   __         _
//  / _|___ _ _| |_ ___
// |  _/ _ \ ' \  _(_-<
// |_| \___/_||_\__/__/
h1, h2, h3, h4, h5, h6, p, blockquote, a {
  font-family: "AvenirNext";
  font-weight: 100;
}

pre, code, input{
  font-family: "Monofur";
  // font-family: "AvenirNext";
}



//  _   _         _          _
// | |_| |_ _ __ | |  ___ __| |_
// | ' \  _| '  \| | / -_) _|  _|
// |_||_\__|_|_|_|_| \___\__|\__|

html {
  min-height: 100vh;

    // If you have chosen to display a baseline grid, we turn it on here.
    @if $typecsset-show-baseline == true {
        background-image: url(#{$image-path}/baseline-24.png); /* [3] */
    }
}

body {
  position:absolute;
	height: 100%;
  width: 100vw;
}

#wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

 #app {
  background-color: transparent;
  height: 100%;
  overflow-x: hidden;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

main {
  background-color:transparent;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

a {
  cursor: pointer;
}

//  _                                      _
// | |_ _  _ _ __  ___  __ _ _ _ __ _ _ __| |_ _  _
// |  _| || | '_ \/ _ \/ _` | '_/ _` | '_ \ ' \ || |
//  \__|\_, | .__/\___/\__, |_| \__,_| .__/_||_\_, |
//      |__/|_|        |___/         |_|       |__/

.tiny {
  font-family: Silkscreen;
  font-size: 0.6rem;
}

//  _                _           __                     _           _   _
// | |_  ___ __ _ __| |___ _ _  / _|___   _ _  __ ___ _(_)__ _ __ _| |_(_)___ _ _
// | ' \/ -_) _` / _` / -_) '_| > _|_ _| | ' \/ _` \ V / / _` / _` |  _| / _ \ ' \
// |_||_\___\__,_\__,_\___|_|   \_____|  |_||_\__,_|\_/|_\__, \__,_|\__|_\___/_||_|
//                                                       |___/

header {
  @extend .z-depth-1;
  // padding-top: 1.5rem;
  background-color: $re-yellow;
	input[type=text] {
		// @extend h6;
    // border-bottom: 1px solid #fafafa !important;

		// margin-top: (1.2 * $h2-fontsize / 2);
		 @media #{$medium-and-down} {
      margin-left: auto;
      margin-right: auto;
      max-width: 50%;
    }
	}
}

nav.top-nav {
  // height: 12rem;
  box-shadow: none;

  &.h16 {
    height:16.5rem
  }

  a.page-title {
    line-height: 122px;
    font-size: 48px;
  }

  input[type=search] {
    margin-bottom: 0;
    border-bottom: 1px solid $primary-color-light;
  }
}

//  _           _
// | |___  __ _(_)_ _
// | / _ \/ _` | | ' \
// |_\___/\__, |_|_||_|
//        |___/
#login {
  padding-top:12%;
  height: 80%;
}

//   __ _
//  / _| |_____ __
// |  _| / -_) \ /
// |_| |_\___/_\_\
.flex {
  flex: 1 0 auto;
}

//                      _        __                     _    _ _
//  _ __  __ _ _ _ __ _(_)_ _   / _|___   _ __  __ _ __| |__| (_)_ _  __ _
// | '  \/ _` | '_/ _` | | ' \  > _|_ _| | '_ \/ _` / _` / _` | | ' \/ _` |
// |_|_|_\__,_|_| \__, |_|_||_| \_____|  | .__/\__,_\__,_\__,_|_|_||_\__, |
//                |___/                  |_|                         |___/
.margin-top-small {
  margin-top:1rem;
}
.margin-top-1 {
  margin-top:1.5rem;
}
.margin-bottom-1 {
  margin-bottom:1.5rem;
}
.margin-right-1 {
  margin-right: 1.5rem;
}
.margin-left {
  margin-left: 0.5rem;
}

.no-margin {
  margin: 0 !important;
}

.padding-top-1 {
  padding-top:1.5rem;
}
.padding-bottom-1 {
  padding-bottom:1.5rem !important;
}
.padding-right-1 {
  padding-right: 1.5rem;
}

.no-margin {
  margin: 0 !important;
}

.full-height, .h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.height-4 {
  height: 4rem !important;
}

//     _    _
//  __(_)__| |___ ___ _ _  __ ___ __
// (_-< / _` / -_)___| ' \/ _` \ V /
// /__/_\__,_\___|   |_||_\__,_|\_/

#nav-button {
  // width: 3rem;
  // height: 3rem;
  color: $bg-color;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  width: $button-height;
  padding: 0;

  i {
    font-size: $typecsset-h3-size;
  }
}

.nav-wrapper {
  height:0px;
  @media #{$medium-and-down} {
    height:3rem;
  }
}

.side-nav {
  background-color: $sidenav-bg-color;

  li.sidenav-item {
    float: none;
    background-color: transparent; 
    padding: 0;
    &:hover, &.active { 
      // background-color: $bg-color; 
      background-color: $re-yellow;
      a {
        color: $primary-color-dark;
        font-weight: normal;
      } 
    }

    &.logo {
      text-align: center;
      margin-top: 19px ;
      margin-bottom: 13px;
      height: 4rem;
  
      &:hover {
       background-color: transparent;
      }
  
      a {
        padding:0;
     }
    }

    a {
      font-weight: normal;
    } 

    .collapsible-header {
      margin-left: 0;
      margin-right: 0;
      padding-left:0;
      padding-right:0;
    }

    .collapsible-body {

      ul {
        margin:0;
        padding:0;
        li {
          margin:0;
          padding:0;          

          a {
            margin:0;
            padding:0 15px;          
            background-color: lighten(desaturate($re-yellow, 12%), 12%);
            &:hover, &:active {
              background-color: $re-yellow;
            }
          } 

          p {
            margin:0;
            padding:0 15px;          
            background-color: lighten(desaturate($re-yellow, 12%), 12%);
            color: $bg-color;
            font-weight: normal;
          } 
        }

        &.scene-list {
          li {
            a {
              padding-left: 2rem;
              background-color: lighten(desaturate($re-yellow, 24%), 24%);

              &:hover, &:active {
                background-color: $re-yellow;
              }
            }
          }
        }
      }
    }


  }
  // a {
  //   color: $sidenav-link-color;
  //   height: $sidenav-item-height;
  //   line-height: $sidenav-item-height;
  //   padding: 0 $sidenav-padding-right;
  // }
}

//           _    _
//  __ _ _ _(_)__| |
// / _` | '_| / _` |
// \__, |_| |_\__,_|
// |___/
.row {
  margin-bottom: 1.5rem;
  &.head {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}

//  _                _
// (_)_ _  _ __ _  _| |_
// | | ' \| '_ \ || |  _|
// |_|_||_| .__/\_,_|\__|
//        |_|
// .input-field {
//   @extend .margin-top-1;
// }

select {
  display: block;
  background-color: transparent;
  border: 1px solid $secondary-color;
  border-radius: 2px;
  height: 3rem;
  font-family: monospace;
  font-size: 1.5rem;
  color: $secondary-color;

  option {
    margin:40px;
    background: rgba(0,0,0,0.3);
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
  }
}

.input-field {
  margin: 0;
  input[type=text]  {
    color: $primary-color-dark;
    border-bottom: 1px solid $primary-color-dark;
    margin-bottom: 1.5rem - rem(1px);
  }

  // input[type=search] {
  // height: 4.4375rem;
  //   & + label {
  //     left: 1rem;
  //     width:3rem;
  //   }
  // }

  input.h4 {
    @extend h4;
    font-size: 1.5rem;
    line-height: 1;
    width: 100%;
    height: inherit;
    // margin: 0 0 15px 0;
    padding: 0;
    padding-bottom:10.667px;
    margin-bottom:12px;
    display: block;
  }

  .dropdown-content {
    background-color: $bg-color;
    font-family: Monofur, monospace !important; } }

//  _            _ _   _
// | |_ ___  ___| | |_(_)_ __
// |  _/ _ \/ _ \ |  _| | '_ \
//  \__\___/\___/_|\__|_| .__/
//                      |_|
.material-tooltip {
  background-color: transparent;
  color: $re-grey-3;

  .backdrop {
    background-color: transparentize($re-grey-2, 0.12);  
  }

  img {
    height: 1.5rem; 
  }
}



//                _      _
//  _ __  ___  __| |__ _| |
// | '  \/ _ \/ _` / _` | |
// |_|_|_\___/\__,_\__,_|_|
.modal {
  border:1px solid $primary-color-light;
  text-align: center;

  overflow-y: visible;

  .modal-content {
    .input-field {
      margin: 0;
      input[type=text]  {
        color: $re-yellow;
        border-bottom: 1px solid $re-yellow;
        // margin-bottom: 1.5rem - rem(1px);
      }
    }
    .select-wrapper {
      .caret {
        color: $re-yellow; } } }

  .modal-footer {
    padding: 1rem;;
    .btn, .btn-large, .btn-flat {
      margin-left: 6px;
      margin-bottom: 1rem;
      } 
    } 
  }

//  _                _
// | |_ ___  __ _ __| |_
// |  _/ _ \/ _` (_-<  _|
//  \__\___/\__,_/__/\__|
#toast-container {
  // @media #{$small-and-down} {
  //   min-width: 100%;
  //   bottom: 0%;
  // }
  @media #{$medium-only} {
    left: 0%;
    bottom: 0%;
    // max-width: 90%;
  }
  @media #{$large-and-up} {
    top: 0%;
    right: 0%;
    // max-width: 86%;
  }
}

.toast {
  color: $toast-text-color;
  background-color: $toast-color;
}

.toast-image {
  float: left;
}
.toast-text {
  @extend .tiny;
  float: left;
  margin-left: 2px;
  margin-top: 4px;
}



//  _        _    _
// | |_ __ _| |__| |___
// |  _/ _` | '_ \ / -_)
//  \__\__,_|_.__/_\___|

table {
  @extend .no-margin;
  color: $fg-color;

  td, th {
    vertical-align: top; }

  tr {
    background-color:$table-background-color; }

  .input-field input[type=text] {
    color: $re-yellow;
    border-bottom: 1px solid $re-yellow; }

  .select-wrapper {
    .caret {
      color: $re-yellow; } } }

//  _         _   _
// | |__ _  _| |_| |_ ___ _ _  ___
// | '_ \ || |  _|  _/ _ \ ' \(_-<
// |_.__/\_,_|\__|\__\___/_||_/__/
.btn-floating {
  // border: 1px solid $bg-color;
  &.btn-small {
    width: $button-floating-small-size;
    height: $button-floating-small-size;
    i {
      line-height: 1;
      font-size: 1rem;
    }
  }
}


//     _     _
//  __| |___| |__ _  _ __ _
// / _` / -_) '_ \ || / _` |
// \__,_\___|_.__/\_,_\__, |
//                    |___/
pre.debug {
  border: 1px solid $re-green;
  background-color: $re-grey-0;
  color: $re-green;
  padding: 0.5rem;
  @include typecsset-font-size(12px);
  line-height: 1.5;
  text-align: left;
}

// #login {
// 	height: 64vh;

// 	img {
// 		margin-bottom: 1rem;
// 	}

// 	button {
// 		margin-top: 2rem;
// 	}
// }

// .full-screen {
// 	min-width: 100%;
// 	min-height: 100%;
// }



// // input[type=text].light-name {
// 	// @extend h4;
// // }

// .collapsible.debug {
//   @extend .z-depth-3;
//   border-color: color("lime", "base");
//   .collapsible-header {
//     background-color: $off-black;
//     color: color("lime", "base");
//     border-color: color("lime", "base");
//   }
//   .collapsible-body {
//     border-color: color("lime", "base");
//   }
// }

// pre.debug {
// 	background-color: $off-black;
// 	color: color("lime", "base");
// 	@extend .tiny;
// 	padding: 0.5rem;
// }

// .editing {
// 	border: 1px solid color("lime", "base");
// }



// li.re-light {
//   position: relative;
//   border-bottom: 1px solid $primary-color-light;
//   &:last-child{
//     border-bottom: none;
//   }

//   .edit-hover {
//     transition: opacity .3s;
//     @extend .full-screen;
//     background-color:  rgba($primary-color-very-dark, 0.64);
//     cursor: pointer;
//     opacity: 0;
//     position: absolute;
//     top:0;
//     left:0;

//     // background-color: $primary-color-light;
//     // background-opacity: .42;
//     &:hover {
//       opacity: 0.81;
//     }

//     button {
//       background-color: $secondary-color !important;
//     }
//   }
// }

// .modal-content {
//   color: $primary-color-dark;
// }

// .centred {
//   margin-right: auto;
//   margin-left: auto;
// }

// // #search {
// //   i {
// //     @extend h4;
// //     margin-top: 0.7rem;
// //     width: 10%;
// //     margin-right: 0 !important;
// //   }

// //   input {
// //     width: 90%;
// //   }
// // }


// table#lights{

//   tr.add-light {
  
//   }
// }

// table {
//   border: 1px solid $primary-color-light;
//   // tr:nth-child(even) {
//   //   background: rgba($primary-color-light, 0.42)
//   // }  

//   thead {
//     tr {
//       th {
//         &.edit {
//           width: 6rem;   
//         }
//         &.sortable {
//           cursor: pointer;
//         }
//         i {
//           @extend .right;
//           transition: all .3s;
//           will-change: opacity;
//         }
//       }
//     }
//   }

  

//   tbody{
//     tr{
//       &.edit {
//         &:nth-child(odd) {
//           background-color:rgba($secondary-color, 0.42);  
//         }
//         &:nth-child(even) {
//           background-color:rgba($secondary-color, 0.32);  
//         }

//         td.actions {
//           @extend .right;
//           button,a {
//             margin-top: 0.5rem;
//             &:last-child {
//               margin-left: 0.5rem;
//             }
//           }
//         }
//       }

//       &.add-item {
//         padding-bottom:1rem;
//         transition: background-color .3s;
      
//         &:hover {
//           background-color: $secondary-color;
//           cursor: pointer;
//         }   
//       }
      
//       td{
//         vertical-align: top;  
//       }
      
//     }
//   }
//   .input-field {
//     margin-top: 0;
//   }
// }

// [class^="mdi-"], [class*="mdi-"] {
//     &.pull-up {
//         margin-top: -0.3rem;
//     }
// }

// .btn-small {
//   @extend .btn;
//   height: $button-height * 0.8;
//   width: 28px;
//   height: 28px;
//   i {
//     line-height: 28px;
//     font-size: $button-small-icon-font-size;
//   }
// }

// button {
//   &.btn-flat {
//     i {
//       margin-right: 0.4rem;
//       font-size: 1rem;
//     }
//     &.warn {
//       color: $error-color;
//     }  
//     &.ok {
//       color: $success-color;
//     }  
//   }
// }




// .italic {
//   font-style: italic;
// }

// .tiny {
//     font-size: 0.75rem !important;
//     line-height: 1rem !important;
// }

// .space {
//   @extend .clearfix;
//   height: 1rem;
// }

// .spaace {
//   @extend .clearfix;
//   height: 2rem;
// }

// .no-margin {
//   margin:0 !important;
// }

// .hidden {
//   opacity: 0;
// }

// .card-margin-top {
//   margin-top:1rem;
// }

// .margin-top-1 {
//   margin-top:1.5rem;
// }
// .margin-bottom-1 {
//   margin-bottom:1.5rem;
// }
// .margin-right-1 {
//   margin-right: 1.5rem;
// }

// .margin-right-05 {
//  margin-right: 8px; 
// }

// .margin-sides {
//   margin-left:0.5rem;
//   margin-right:0.5rem;
// }

// .padding-top-1 {
//   padding-top:1.5rem;
// }
// .padding-bottom-1 {
//   padding-bottom:1.5rem !important;
// }


// .relative {
//   position: relative !important;
// }

// .offset-1-top {
//   margin-top: rem(-1px) !important;
// }

// .click-pattern {
//   @extend .margin-top-1;
//   @extend .padding-top-1;
//   @extend .padding-bottom-1;
//   background-color: rgba($primary-color-light, 0.42);
// }





// // custom styled sidebar
// ul.side-nav.fixed {
//   overflow: hidden;
//   background-color: $primary-color-very-dark;
//   // background-color: transparent;


//   // Only show scrollbar on hover
//   &:hover {
//     overflow-y: auto;
//   }

//   li {
//     line-height: 44px;
//     padding:0;

//     &:hover, &.active {
//       background-color: transparent; 
//     }
   

//     &.logo {
//       text-align: center;
//       margin-top: 19px ;
//       margin-bottom: 13px;
//       height: 4rem;
      
  
//       &:hover {
//        background-color: transparent;
//       }
  
//       a {
//         padding:0;
//      }
//     }

//     a {
//      line-height: 48px;
//        height: 3rem;
//        font-size: 1.2rem;

//        // background-color: $primary-color-very-dark;
//        background-color: transparent;
//        color: $primary-color-light;
//        transition: .2s background-color, .2s color;

//        &:hover, &.active {
//          background-color: ($secondary-color);
//          color: $primary-color-dark;
//          // background-color: transparent !important;
//          // color: $primary-color-light;
//       }
//     }
//     .collapsible-header {
//       margin: 0; 
//       padding: 0; 
//       background-color: $primary-color-very-dark;
//       &.active {
//         background-color: $re-yellow;
//         a {
//           color: $primary-color-dark;  
//         }
//       }
//     }

//     .collapsible-body {
//       background-color: lighten($re-yellow, 12%);
//       color: $primary-color-dark;  
//       a {
//         color: $primary-color-dark;          
//       }
//     }
//   }
// }

// #scenes {
//   height: calc(100% - 2px);
// }


// @media #{$large-and-up} {
//   nav .nav-wrapper {
//     margin-left: 2rem;
//   }
// }