


//  _   _
// | |_(_)_ _ _  _
// |  _| | ' \ || |
//  \__|_|_||_\_, |
//            |__/

@font-face {
    font-family: "Tiny";
    src: url("#{$font-path}/tiny.ttf") format("truetype");
}


//                                             _
//  _ __  ___ _ _  ___ ____ __  __ _ __ ___ __| |
// | '  \/ _ \ ' \/ _ (_-< '_ \/ _` / _/ -_) _` |
// |_|_|_\___/_||_\___/__/ .__/\__,_\__\___\__,_|
//                       |_|
@font-face {
    font-family: "Monofur";
    src: url("#{$font-path}/monofur/monof55.ttf") format("truetype");
}
