 i {
 	&.re-icon {	
 		width: $button-floating-size * 0.75;
		height: $button-floating-size * 0.75;
		// margin-top: $button-floating-size * 0.125;    
		background-size: $button-floating-size * 0.75 $button-floating-size * 0.75;
    	background-repeat: no-repeat;
    	background-position: center;
		
		&.large {
			width: $button-floating-size * 1.5;
			height: $button-floating-size * 1.5;
			// margin-top: $button-floating-size * 0.25;
			background-size: $button-floating-size $button-floating-size;
		}

		&.bulb {
			background-image: url(#{$image-path}bulb-on.svg);
		}

		&.signal {
			background-image: url(#{$image-path}signal-icon.svg);
			
		}
	}
} 

use.icon{
	width: 100px;
	background: #bada55;
}