body {
  color: $primary-color-light;
}

.ui.segment {
  background-color: $primary-color-very-dark;
}


//  _                _
// (_)_ _  _ __ _  _| |_
// | | ' \| '_ \ || |  _|
// |_|_||_| .__/\_,_|\__|
//        |_|

.ui.form {
  input:not([type]),
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="text"],
  input[type="url"] {
    background: $grey-dark;
    border: 1px solid rgba($grey-light, 0.6);
    color: rgba($grey-light, 0.87);
    // height: 36px;
  }

  input:not([type]):focus,
  input[type="date"]:focus,
  input[type="datetime-local"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="text"]:focus,
  input[type="url"]:focus {
    color: $secondary-color;
    border-color: $secondary-color;
    background: $primary-color-dark;
  }

  .field {
    i.icon {
      color: $primary-color-light !important;
    }
  }

  select {
    background: $grey-dark;
    border: 1px solid rgba($grey-light, 0.6);
    color: rgba($grey-light, 0.87);
  }

  .ui.selection {
    background: $grey-dark;
    border: 1px solid rgba($grey-light, 0.6);
    color: rgba($grey-light, 0.87);
  }

  .ui.dropdown {
    &.multiple {
      padding: 0;
      padding-left: 4px;
      padding-top: 0.2rem;  
    }


    .menu {
      background: $grey-dark;
      color: rgba($grey-light, 0.87);

      .item {
        color: rgba($grey-light, 0.87);
        border-top: 1px solid $grey-medium;

        &:hover {
          background: $yellow;
          color: $grey-dark;
        }
      }
    }
    
  }
}


.ui.label {
  background-color: $grey-medium;
  color: rgba($grey-light, 0.87);
}



//                _           _   _
//  _ _  __ ___ _(_)__ _ __ _| |_(_)___ _ _
// | ' \/ _` \ V / / _` / _` |  _| / _ \ ' \
// |_||_\__,_|\_/|_\__, \__,_|\__|_\___/_||_|
//                 |___/
.ui.vertical.menu {
  .item {
    height: 3rem;
    & > i.icon {
      float: left;
      margin: 0;
    }
  }
}


//  _ __  ___ _ _ _  _
// | '  \/ -_) ' \ || |
// |_|_|_\___|_||_\_,_| Inverted

.ui.inverted.menu {
  border: 0px solid transparent;
  background: $menu-bg-color;
}

/* Menu Item */
.ui.inverted.menu .item,
.ui.inverted.menu .item > a:not(.ui) {
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
}
.ui.inverted.menu .item.menu {
  background: transparent;
}

/*--- Border ---*/

.ui.inverted.menu .item:before {
  background: rgba(255, 255, 255, 0.08);
}
.ui.vertical.inverted.menu .item:before {
  background: rgba(255, 255, 255, 0.08);
}

/* Sub Menu */
.ui.vertical.inverted.menu .menu .item,
.ui.vertical.inverted.menu .menu .item a:not(.ui) {
  color: rgba(255, 255, 255, 0.5);
}

/* Header */
.ui.inverted.menu .header.item {
  margin: 0em;
  background: transparent;
  box-shadow: none;
}

/* Disabled */
.ui.inverted.menu .item.disabled,
.ui.inverted.menu .item.disabled:hover {
  color: rgba(225, 225, 225, 0.3);
}

/*--- Hover ---*/

.ui.link.inverted.menu .item:hover,
.ui.inverted.menu .dropdown.item:hover,
.ui.inverted.menu .link.item:hover,
.ui.inverted.menu a.item:hover {
  background: rgba(255, 255, 255, 0.08);
  color: $grey-light;
}
.ui.vertical.inverted.menu .item .menu a.item:hover,
.ui.vertical.inverted.menu .item .menu .link.item:hover {
  background: transparent;
  color: $grey-light;
}

/*--- Pressed ---*/

.ui.inverted.menu a.item:active,
.ui.inverted.menu .link.item:active,
.ui.inverted.menu a.item:active {
  background: rgba(255, 255, 255, 0.08);
  color: $grey-light;
}

/*--- Active ---*/

.ui.inverted.menu .active.item {
  background: $yellow;
  color: $grey-dark !important;
}
.ui.inverted.vertical.menu .item .menu .active.item {
  background: transparent;
  color: $grey-dark;
}
.ui.inverted.pointing.menu .active.item:after {
  background: $yellow !important;
  margin: 0em !important;
  box-shadow: none !important;
  border: none !important;
}

/*--- Active Hover ---*/

.ui.inverted.menu .active.item:hover {
  background: $yellow;
  color: $grey-dark !important;
}
.ui.inverted.pointing.menu .active.item:hover:after {
  background: $yellow !important;
}

//  _        _    _
// | |_ __ _| |__| |___
// |  _/ _` | '_ \ / -_)
//  \__\__,_|_.__/_\___|


/* Text Color */
.ui.inverted.table {
  background: $grey-dark;
  color: $grey-light;
  border: none;
}
.ui.inverted.table th {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: rgba(255, 255, 255, 0.1) !important;
  color: rgba(255, 255, 255, 0.9);
}
.ui.inverted.table tr td {
  border-color: rgba(255, 255, 255, 0.1) !important;
}
.ui.inverted.table tr.disabled td,
.ui.inverted.table tr td.disabled,
.ui.inverted.table tr.disabled:hover td,
.ui.inverted.table tr:hover td.disabled {
  pointer-events: none;
  color: rgba(225, 225, 225, 0.3);
}

/* Definition */
.ui.inverted.definition.table tfoot:not(.full-width) th:first-child,
.ui.inverted.definition.table thead:not(.full-width) th:first-child {
  background: #ffffff;
}
.ui.inverted.definition.table tr td:first-child {
  background: rgba(255, 255, 255, 0.02);
  color: #ffffff;
}


//  _         _   _
// | |__ _  _| |_| |_ ___ _ _
// | '_ \ || |  _|  _/ _ \ ' \
// |_.__/\_,_|\__|\__\___/_||_|

.ui.button {
  &.icon {
    padding: 0.5rem;
  }

  &.circular {
    .icon {
      width:1.5rem;
      height:1.5rem;
    }
  }

  &.deny {
    background: $re-red;
    color: $grey-dark;      
    border: 2px solid $re-red;
    &:hover {
      background: transparent;
      color: $re-red;  
    }
  }

  &.approve {
    background: $re-green;
    color: $grey-dark;      
    border: 2px solid $re-green;
    &:hover {
      background: transparent;  
      color: $re-green;
    }
  }
}


//  _ _    _
// | (_)__| |_ ___
// | | (_-<  _(_-<
// |_|_/__/\__/__/

.ui.list {
  .item {
    padding-top:0;
    padding-bottom:0.5rem;
    // &:first-child {}
  }
} 

//                _      _
//  _ __  ___  __| |__ _| |
// | '  \/ _ \/ _` / _` | |
// |_|_|_\___/\__,_\__,_|_|
.ui.modal { 
  top: 0;
  margin-top: 8% !important;

  &.w400 {
    width: 400px;
  }

  .content {
    padding-top: 0;
  }
}