body {
  color: $primary-color-light;
}

.ui.segment {
  background-color: $primary-color-very-dark;
}

.ui.form {
  input:not([type]),
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="text"],
  input[type="url"] {
    border-color: $primary-color-dark;
    background: $primary-color-dark;
    color: $primary-color-light;
  }

  input:not([type]):focus,
  input[type="date"]:focus,
  input[type="datetime-local"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="text"]:focus,
  input[type="url"]:focus {
    color: $secondary-color;
    border-color: $secondary-color;
    background: $primary-color-dark;
  }

  .field {
    i.icon {
      color: $primary-color-light !important;
    }
  }
}

/*--------------------
        Focus
---------------------*/


