

svg {
  cursor: crosshair;
  background-color:$primary-color-dark;
  // background-color:$re-purple;
  // width: 100%;
  // height: 100%;

  circle {
    stroke: $primary-color-light;
    stroke-width: 1px;
    fill:none;
  }

  line {
    stroke: $primary-color-light;
    stroke-width: 1px;
  }

  text {
    stroke: none;
    fill: $primary-color-light;
    font-weight: 400;
    font-size: 12px;
  }

  rect {
    fill: none;
    stroke: $primary-color-light;

    &#artboard {
      // stroke: $secondary-color;      
      stroke-width: 1;
    }

    &#bg {
      stroke: none;
      // fill:$primary-color-dark;
      fill:$re-purple;
      width:100%;
      height:100%;
    }
  }

  g#zoom-group{
    &.transition {
      transition: transform .5s ease;   
    }
  }

  .grid {
    line{
    stroke: rgba($primary-color-light, 0.4);
    stroke-width: 0.5px;
    }
  }

  #translation {
    circle {
      stroke: rgba($primary-color-dark, 0.8);
      stroke-width: 1px;
      fill:rgba($secondary-color, 0.4);
    }
  }

  g.node {
    
    rect.bg {
      stroke:$primary-color-light;
      stroke-width: 2px;
      // background-image: url(#{$image-path}/sine-icon.svg);
      transition: all 0.2s ;
      transition-property: fill;
      // for more transitions @see: _animation.scss
      // fill:$secondary-color;
      fill:$primary-color-dark;
      cursor: move;

      &.light {
        background-image: url(#{$image-path}bulb-on.svg);
      }

      &.invalid {
        // fill:$re-purple;
        background-color: gray;
        fill: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
      }
    }

    rect.handle {
      width: 16px;
      height: 8px;
      fill: $fg-color;
      rx: 2px;
      stroke: none;
       // brightness
    }

    use.icon {
      margin-left: 4px;
      fill: $primary-color-light;
    }

    text {
      fill: $primary-color-light;
      stroke: none;
      font-size: 0.8rem;
      line-height: $button-line-height;
  
       &:hover {
        cursor: move;
      }

      &.data {
        // fill: #bada55;
        font-size: 0.6rem;
        font-family: Silkscreen, monospace;
      }
    }

    circle.handle {
      fill: $primary-color-light;
      stroke:none;
      transition: all 0.2s ease-out;
      transition-property: transform, fill;
      transform: scale(1);
      transform-origin: center;

      &:hover {
        fill: $secondary-color;
        transform: scale(1.4);
      }
    }

    &.selected {
      rect, circle {
        fill:$secondary-color;
      }
    }
  }
}

button#reset {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: rgba($primary-color-dark, 0.8);
  i {
    color: $primary-color-light !important;
    line-height: 36px !important;
  }
}

form#zoom {
  position: absolute;
  right: 4rem;
  width: 8rem;
  top: 1rem;

  input[type=range] {
    border-color: rgba($primary-color-dark, 0.8);
  }

  input[type=range] + .thumb {
    &.active {
      .value {
        color: $primary-color-light;
        font-weight: 700;
        font-size: 12px;
      }
    }
  }
}



#pd {
  $palette-node-height: 32px;
  $palette-node-width: 96px;
  
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  #pallete {
    background-color: transparent;
  }

  .palette-node {
    height: $palette-node-height;
    width: $palette-node-width;
    line-height: $button-line-height;
    text-decoration:none;
    @extend .z-depth-1;
    transition: all 0.2s ease-out;
    transition-property: transform, opacity;
    cursor: pointer;
    position:relative;


    background-size: contain;
    background-color:$primary-color-light;
    color: $primary-color-dark;
    font-weight: 400;
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 2px;

    padding:0 8px;
    

    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;

    text-align: left;

    &:hover {
      border-color: $secondary-color;
      // color: $primary-color-dark;
      @extend .z-depth-1-half;
    }

    &#sine {
      background-image: url(#{$image-path}/sine-icon.svg);
    }

    &#wind {
      background-image: url(#{$image-path}/wind-icon.svg);
    }


    .output-indicator {
     position: absolute;
        width: 16px;
        height:16px;
        border-radius: 50%;
        background-color:$primary-color-light;
        left: -8px;
        top:8px;
    }

    .input-indicator {
      position: absolute;
      width: 16px;
      height:16px;
      border-radius: 50%;
      background-color:$primary-color-light;
      right: -8px;
      top:8px;
    }
  }

  #editor {
    flex: 1 0 auto;
  }
}

#pallete {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  li {
    float: left;
    margin-left: 1rem;

    a {
      background-color: lighten($re-yellow, 12%);
      // cursor: grab;
      transition-property: width, height;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transform-origin: center bottom;
      @extend .z-depth-1-half;

      // position: absolute;
      bottom: 0;

      i {
        transform-origin: center center;
        transition-property: width, height transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;

        width: $button-floating-size;
        height: $button-floating-size;
        transform: scale(1);
      }

      &:hover {
        @extend .z-depth-1;
        width: $button-floating-size * 1.4;
        height: $button-floating-size * 1.4;

        i {
          width: $button-floating-size * 1.4;
          height: $button-floating-size * 1.4;
          transform: scale(1.4);
          // margin-top: $button-floating-size * 1.5 * 0.25;
        }
      }
    }
  }
}