$re-yellow: #EECC74;
$re-green: #A7F478;
$re-blue: #79D8F8;
$re-purple: #B47AFA;
$re-red: #F6889A;
$re-orange: #F2A677;

$re-grey-0: #2c2c2c;
$re-grey-1: #424242;
$re-grey-2: #8a8a8a;
$re-grey-3: #f5f5f5;


$grey-dark :#3F4144;
$grey-medium :#8D9399;
$grey-light :#ECF4FF;
$yellow :#F8E996;
$green :#97F79C;
$blue :#97ACF7;
$purple :#EF97F7;
$red :#F7AF97;

$primary-color: $re-grey-2;
$primary-color-light: $re-grey-3;
$primary-color-dark: $re-grey-1;
$primary-color-very-dark: $re-grey-0;

$secondary-color: $re-yellow !default;
$success-color: $re-green !default;
$error-color: $re-red !default;
$link-color: $re-blue !default;

$bg-color: $primary-color-dark;
$fg-color: $primary-color-light;

$font-path: "../font" !default; // @lowi
$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

$image-path: "../images" !default;

$menu-bg-color: $grey-dark;