<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>La Donaira</title>
    <%= stylesheet_link_tag "all" %>

  </head>
  <body>
    <div id="main"></div>
    <script src="javascripts/jquery-2.2.4.js" type="text/javascript"></script>
    <script src="javascripts/semantic-ui.js" type="text/javascript"></script>
    <script src="javascripts/range.js" type="text/javascript"></script>
    <script src="main.js" type="text/javascript"></script>
  </body>
</html>
